<?xml version="1.0" encoding="UTF-8"?>
<context.xml>

	<context id="MixICollKCollDataFaildCtx" type="Scenario5" >
		<refKColl refId="MixICollKCollDataFaildForCtx"/>
	</context>
	
	<context id="FuncExprToWildcardCtxt" type="test">
		<refKColl refId="FuncExprToWildcardCtxtKColl" />
	</context>

</context.xml>
